@import "./resets";
@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700;800&family=Roboto+Mono:wght@300;400;500&display=swap");

// Functions & Mixins

@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@mixin flex($direction, $gap) {
  display: flex;
  gap: $gap;
  flex-direction: $direction;
}

@mixin grid($gap) {
  display: grid;
  gap: $gap;
}

// ----------
// Styles
// ----------

// Utility
.bg-dark-1 {
  background-color: color(dark-1);
}

.fw-extra-light {
  font-weight: weight(extra-light);
}

.fw-light {
  font-weight: weight(light);
}

.fw-medium {
  font-weight: weight(regular);
}

.fw-medium-bold {
  font-weight: weight(medium-bold);
}

.fw-bold {
  font-weight: weight(bold);
}

.fw-extra-bold {
  font-weight: weight(extra-bold);
}

.fw-stark {
  font-weight: weight(stark);
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.full-center {
  display: grid;
  place-items: center;
}

// Main

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  min-height: 100%;
}

.navigation {
  @include flex(row, 1.5rem);
  position: fixed;
  z-index: 999;
  width: 100vw;
  counter-reset: link -1;
  justify-content: flex-end;

  padding: 1rem 2rem 1rem 1rem;
  margin: 0;
  background-color: color(mid-2);
  list-style: none;

  &-toggle {
    display: none;
  }

  &__li {
    counter-increment: link;
  }

  &__link {
    position: relative;

    text-decoration: none;
    color: color(dark-2);
    font-weight: map-get($font-weights, bold);
    font-family: $font-mono, monospace;
    font-size: 1.25rem;

    transition: opacity 0.4s ease-in-out;

    &:hover {
      opacity: 1;
      transition: opacity 0.4s ease-in-out;
    }

    &::before {
      color: color(highlight);
      position: absolute;
      top: -0.8rem;
      left: -0.25rem;
      content: "0" counter(link);

      font-size: 0.75rem;
    }
  }
}

@supports (backdrop-filter: blur()) {
  .navigation {
    background-color: rgba(0, 0, 0, 0.425);
    backdrop-filter: blur(1.75rem);

    &__link {
      color: color(light-2);
      font-weight: map-get($font-weights, extra-light);
    }
  }
}

.hoverstate {
  opacity: .2;

  transition: opacity 0.4s ease-in-out;
}

.hero {
  height: 100vh;
  @include flex(column,10rem);
  justify-content: space-around;

  padding: 10rem 0 0 2rem;
  width: 70%;
  margin: 0 auto;
  font-size: 1.25rem;

  .scroll-down {
    @include flex(row, 1rem);
    flex-wrap: wrap;
    align-self: center;
    margin-bottom: 2rem;
  }
}

.introduction {
  padding: 2rem .5rem;
  position: relative;

  &:before {
    content: "";
    background: color(highlight);
    position: absolute;
    top: 0;
    left: 0;
    width: 65%;
    height: 1px;
  }

  &:after {
    content: "";
    background: color(highlight);
    position: absolute;
    bottom: 0;
    right: 0;
    height: 1px;
    width: 65%;
  }

  p {
    color: color(light-2);
    white-space: normal;

    font-family: $font-sans-1;
  }

  .main-title {
    font-family: $font-serif;
    color: color(light-2);
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }
}

.type-text {
    color: color(light-2);
    white-space: normal;
    font-size: 1.2rem;
    font-family: $font-mono;

  &::after {
    position: relative;
    content: "|";
    color: color(highlight);
    font-size: 1.3rem;
    animation: blink 1s infinite;
  }
}

@keyframes blink {
  0%, 100% {opacity: 1;}
  50% {opacity: 0;}
}



.highlight {
  color: color(highlight);
}

.subtitle {
  font-family: $font-serif;
  color: color(light-2);
  font-size: 1.5rem;
}

.work {
  width: 90%;
  margin: 5rem auto;

  &__title {
    text-transform: uppercase;
    text-align: center;
    margin: 1.25rem 0;
  }

  &__copy {
    color: color(light-2);
    font-family: $font-sans-1;
    font-size: 1rem;
  }

  &__items {
    @include grid(2rem);
    margin-top: 2rem;
  }

  &__item {
  position: relative;
  // border: 2px solid color(highlight);
  // background-color: color(highlight-2);
  background-size: 100%;
  border-radius: 5px;
  transform: scale(1);
  box-shadow: color(highlight-2) 0px 8px 24px;
  transition: all .5s ease-in-out;
  

  &:hover,
  &:active {
    border: none;
    background-color: transparent;
    transform: scale(1.05);
    box-shadow: color(highlight) 0px 13px 27px -5px, color(highlight-2) 0px 8px 16px -8px;
    transition: all .5s ease-in-out;
  }
  };

  &__img {
    position: relative;
    z-index: -1;
    border-radius: 5px;
    transition: all .5s ease;
  }

  a {
    // display: inline-block;
    transform: scale(1);

    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    
    &:hover,
    &:active {
      transform: scale(1.05);
      box-shadow: rgba(0, 0, 0, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      transition: all .5s ease;
    }
  }

}

.skills {
  scroll-margin-top: 20vh;
  width: 90%;
  margin: 5rem auto;

  &__title {
    text-transform: uppercase;
    text-align: center;
    margin: 1.25rem 0;
  }

  &__copy {
    color: color(light-2);
    font-family: $font-sans-1;
    font-size: 1rem;
  }

  &__grid {
    max-width: 100%;
    margin-top: 2rem;
    @include flex(row, 2rem);
    justify-content: space-around;
    flex-wrap: nowrap;

    &-item {
      width: 30%;
      @include flex(column, 0);
      flex: 1 0;

      header {
        @include flex(row, 2rem);
        border-radius: 5px 5px 0 0;
        border-bottom: 2px solid color(highlight);
        padding:1.25rem;
        width: 100%;
        background-color: color(light-1);

        img {
          height: 32px;
        }

        h3 {
          align-self: flex-end;
          font-family: $font-sans-1;
          font-size: 1.3rem;
          color: color(dark-1);
        }
      }

      main {
        padding: 1.5rem 1.5rem 1.5rem 2rem;
        background-color: color(light-1);
        border-radius: 0 0 5px 5px;

        @include flex(column, 0);
        flex: 1;

        ul {
          list-style-type: '> ';
          color: black;
          font-family: $font-sans-1;
          font-weight: weight(medium-bold);
         

          li {
            margin-bottom: 1rem;
          }
        }
      }

    }
  }
}

.contact {
  // width: 90%;
  height: 100vh;
  margin: 0 auto;
  @include grid(3rem);
  place-content: center;

  &__title {
    text-align: center;
  }

  &__form {

    form {
      width: 60vw;
      @include flex(column, 2.5rem);

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    input[type="tel"],
    textarea{
      
	    width: 100%;
	    height: 50px;
	    padding: .5rem;
	    border: none;
	    border-bottom: 1px solid color(highlight);
	    background-color: transparent;
	    border-radius: 0;
	    font-family: $font-sans-1;
	    font-size: inherit;
      color: color(light-2);
      
      &::placeholder {
        color: color(light-2);
        font-size: 1rem;
      }

    &:focus{
      outline: none;
      border: 1px solid color(highlight);
    }

    }
  }

  label {
    display: none;
  }

  button {
    cursor: pointer;
    padding: .5rem 1.5rem;
    background-color: transparent;
    border: 1px solid color(highlight);
    color: color(highlight);
    transition: background-color .1s ease-in-out;
    font-family: $font-sans-1;
    font-weight: map-get($font-weights, medium-bold);

    &:hover {
      color: color(dark-1);
      background-color: color(highlight);
      transition: background-color .1s ease-in-out;
    }
  }

  &-row {
      @include flex(row, 2.5rem);
      
    }
  }
}



@media (min-width: 550px) {
  .work__items {
    grid-template-columns: 1fr 1fr;
  }

  .work__title {
    font-size: 2rem;
  }

}

@media (max-width: 1250px) {
  .work__items {
    grid-template-columns: repeat(3, 1fr);
  }

  .skills {
    margin-top: 20vh;

    &__grid {
      flex-direction: column;
      gap: 3rem;

      &-item {
        width: 100%;
      }
    }
    
  }
}

@media (min-width: 1700px) {
  .work__items {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 500px) {

  .hero {
    width: initial;
    height: 80vh;
    margin: 50% 1rem;
    font-size: 1rem;
    padding: 0;
    justify-content: flex-end;

    .scroll-down {
      margin-bottom: 5rem;
    }
  }

  .introduction {
    .main-title {
      font-size: 1.75rem;
    }
  }

  .type-text {
    font-size: .85rem;
  }

  .navigation {
    @include flex(column, 2.5rem);
    justify-content: initial;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 20%;
    margin: 0;
    padding: min(20vh, 7.5rem) 1.5rem;
    height: 100vh;

    transform: translateX(100%);
    transition: transform 0.35s cubic-bezier(0.5, 0, 0.5, 1);

    &[data-visible="true"] {
      transform: translateX(0%);
    }

    &-toggle {
      display: block;
      background-color: transparent;
      position: fixed;
      top: 2rem;
      right: 2rem;
      cursor: pointer;
      z-index: 9999;

      width: 1.5rem;
      border: 0;
      aspect-ratio: 1;

      &[aria-expanded="true"] {
        & .navigation-toggle__bar {
          opacity: 0;
        }

        & .bar-top {
          transform: translate(-50%, -50%) rotate(-315deg);
          top: 50%;
        }

        & .bar-bottom {
          transform: translate(-50%, -50%) rotate(-225deg);
          top: 50%;
        }
      }
      &__bar,
      & .bar-top,
      & .bar-bottom {
        width: 1.5rem;
        height: 3px;
        background-color: color(light-2);
        border-radius: 5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: transform 0.4s, opacity 0.2s, top 0.4s;
      }

      & .bar-top {
        top: 15%;
      }

      & .bar-bottom {
        top: 85%;
      }
    }
  }

  .contact {

    &__form {

      button {
        margin-top: 1rem;
      }

      form {
        width: 80vw;
        @include flex(column, 1.5rem);
      }

      &-row {
        @include flex(column, 1.5rem);
        
      }
    }
  }
}